ul.yiiPager {
font-size:11px;
border:0;
line-height:100%;
display:inline;
margin:0;
padding:0;
}

ul.yiiPager li {
display:inline;
}

ul.yiiPager a:link,ul.yiiPager a:visited {
border:solid 1px #D60C0C;
font-weight:700;
color:#D60C0C;
text-decoration:none;
padding:1px 6px;
}

ul.yiiPager .page a {
font-weight:400;
}

ul.yiiPager a:hover {
border:solid 1px #D60C0C;
}

ul.yiiPager .selected a {
background:#D60C0C;
color:#FFF;
font-weight:700;
}

ul.yiiPager .hidden a {
border:solid 1px #DEDEDE;
color:#888;
}

ul.yiiPager .first,ul.yiiPager .last {
display:none;
}