.toggleMenu {
    display:  none;
    background:#005fa3;
    padding: 10px 15px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    width: 90.5%;
    margin-bottom: 10px;
}
.navmenu {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    width: 99.8%;
    font-size: 13px;
    *zoom: 1;
    background:#005fa3;
}
.navmenu:before,
.navmenu:after {
    content: " "; 
    display: table; 
}
.navmenu:after {
    clear: both;
}
.navmenu ul {
    list-style: none;
    margin: 0 auto;
    opacity: 0.9;
    z-index: 99;
}
.navmenu a {
    padding: 9px 6.9px;
    color:#fff;
}
.navmenu a:hover{
    background: orange;
    text-decoration: none;
}
.navmenu li {
    position: relative;
}

.navmenu > li {
    float: left;
}
.navmenu > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}
.navmenu > li > a {
    display: block;
}
.navmenu li  ul {
    position: absolute;
    left: -9999px;
    background: none repeat scroll 0 0 #175E4C;
    width: 150px;
}
.navmenu > li.hover > ul {
    left: 0;
}
.navmenu li li.hover ul {
    left: 100%;
    top: 0;
}
.navmenu li li a {
    display: block;
    background: #005fa3;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.navmenu li li li a {
    background:#8ebf1f;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .navmenu a{
        background: none;
    }
    .navmenu li  ul{
        width: 100%;
    }
    .navmenu > li {
        float: none;
    }
    .navmenu > li > .parent {
        background-position: 95% 50%;
    }
    .navmenu li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .navmenu ul {
        display: block;
        width: 100%;
    }
    .navmenu > li.hover > ul , .navmenu li li.hover ul {
        position: static;
    }

}