.animenu > ul:after {
    content: "";
    display: table;
    clear: both;
}

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
    padding: 0;
}

to {
    padding: 0;
}
}

.animenu {
    font: 13px Arial, Helvetica;
    float: right;
    margin-right: 2.2%;
}
.animenu * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.animenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.animenu li {
    position: relative;
}
.animenu li.right{
    float:right;
    text-align:left;
}
.animenu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.animenu input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.animenu label {
    display: none;
    cursor: pointer;
    user-select: none;
}

.animenu > ul {
}
.animenu > ul > li {
    float: left;
}
.animenu > ul > li.logo{
    padding: 0 20% 0 18%;
}
.animenu > ul > li .input-append input{
    height:30px;
}
.animenu > ul > li.right {
    float: right;
}
.animenu > ul > li > a {
    float: left;
    padding: 0.3em 1em;
    margin:5px 0;
}
.animenu > ul a {
    color: #fff;
    text-decoration: none;
}
.animenu > ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 2em 0 0 0;
    background-color: #373737;
    background-image: none;
    -webkit-transition-property: margin, opacity;
    -moz-transition-property: margin, opacity;
    -o-transition-property: margin, opacity;
    transition-property: margin, opacity;
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.animenu > ul ul li {
    display: block;
    -webkit-box-shadow: 0 1px 0 #1e1e1e, 0 2px 0 #515151;
    -moz-box-shadow: 0 1px 0 #1e1e1e, 0 2px 0 #515151;
    box-shadow: 0 1px 0 #1e1e1e, 0 2px 0 #515151;
}
.animenu > ul ul li:first-child > a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.animenu > ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 4em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: inherit;
}
.animenu > ul ul li:last-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.animenu > ul ul li:last-child > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.animenu > ul ul a {
    padding: 1em;
    width: 175px;
    display: block;
    border-color: #373737;
}
.animenu > ul ul a:hover {
    background-color: #0186ba;
    border-color: #0186ba;
}

@media screen and (max-width: 1000px) {
    .animenu {
        width: 70%;
        float: left;
    }
    .animenu > ul, .animenu > ul ul {
        visibility: visible;
        opacity: 1;
        display: none;
    }

    .animenu > ul a, .animenu > ul a:hover {
        text-decoration: none;
    }
    .animenu label {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        display: block;
        padding: 0.5em 3em;
        font-size: 14px;
    }
    .animenu label:before {
        position: absolute;
        left: 0.5em;
        top: 0.3em;
        content: "\2261";
        font-size: 2em;
    }
    .animenu > ul {
        position: relative;

        margin: 0.5em 0 !important;
        padding: 0.25em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-image: none;
        width: 145%;
    }
    .animenu > ul:after {
        content: '';
        position: absolute;
        left: 2em;
        top: -12px;

    }
    .animenu > ul li {
        display: block;
    }
    .animenu > ul > li {
        float: none;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-image: none;
    }
    .animenu > ul > li > a {
        float: none;
        padding: 1em;
    }
    .animenu > ul > li > a.dis {
        display: none;

    }
    .animenu > ul ul {
        position: static;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        background-color: #2b2b2b;
        background-image: none;
        margin: 0;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }
    .animenu > ul ul li:first-child > a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    .animenu > ul ul li:first-child > a:after {
        content: none;
    }
    .animenu > ul ul li:last-child > a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    .animenu > ul ul a {
        padding-left: 2em;
        display: block;
        width: auto;
    }
    .animenu input[type=checkbox]:checked ~ ul {
        display: block;
    }
    .animenu input[type=checkbox]:checked ~ ul ul {
        display: block;
    }
    .animenu > ul > li a#logo{
        margin: 0;
    }
}
